.App {
  min-height: 100vh;
  background: #282c34;
  color: #fff;
  padding: 2rem;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #222;
  min-height: 80vh;
}
